.background-wrapper {
  position: absolute;
  width: calc(100vw);
  height: calc(100vh);
  top: 0;
  left: 0;
  z-index: 0;
  filter: brightness(90%);

  .background {
    position: absolute;
    width: calc((100vw + 0px) / 20);
    height: calc((100vh + 0px) / 20);
    left: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    filter: blur(5px);
    transform-origin: top left;
    transform: scale(20);
  }

}

.content-wrapper {

  position: relative;
  z-index: 1;
  display: flex;
  height: 100vh;

  .art {
    flex: 0 0 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .albumart {
      height: 90vh;
      max-height: 450px;
      max-width: 450px;
      box-shadow: 5px 5px 20px #000;
    }
  }

  .content {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 2.5% 25px 2.5% 0;

    .details {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      text-align: center;
      //text-shadow: 1px 1px 2px #000;
      filter: drop-shadow(1px 1px 1px #000);


      span{
        font-weight: 300;
        font-size: 1.25rem;
        line-height: 1;
        &.artist {
          //font-weight: 300;
        }
        &.title{
          font-weight: 500;
          font-size: 1.5rem;
          margin: 10px 0;
        }
      }
    }

    .controls {
      align-self: center;
      width: 100%;
      max-width: 450px;
      bottom: 5%;
      display: flex;
      filter: drop-shadow(1px 1px 1px #000);

      .play-pause {
        flex-grow: 1;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        button{
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 100%;
          background-color: #54c688;
          color: #FFF;
          width: 65px;
          height: 65px;
          .fa-play {
            margin-right: -7px;
          }
        }
      }
      button {
        border: none!important;
        outline: none!important;
      }
    }

    .volume {
      align-self: center;
      width: 100%;
      max-width: 450px;
      display: flex;
      align-items: center;
      filter: drop-shadow(1px 1px 1px #000);

      ng5-slider {
        margin-top: 3px!important;
      }
    }
  }



}

::ng-deep {
  .ng5-slider-bubble, .ng5-slider-pointer {
    display: none !important;
  }
  .ng5-slider {
    margin: 0!important;
  }

  .ng5-slider .ng5-slider-bar{
    height: 1px!important;
    background-color: #fff!important;
  }

  .ng5-slider-selection-bar .ng5-slider-bar {
    height: 5px!important;
    visibility: visible!important;
    margin-top: -2px;
  }
}
