@import '~src/scss/bootstrap_base';

.background-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;

  .background {
    width: 100%;
    height: 100%;
    filter:  contrast(60%) blur(40px) brightness(60%);

    @include media-breakpoint-up(md) {
      filter:  contrast(50%) blur(150px) brightness(50%);
    }
    will-change: transform;
  }
}

.browse-container {
  will-change: transform;

  padding: 0 0 3em;

  .list-container {
    margin-bottom: 3rem;
  }
}

.list-item {
  display: flex;
  padding: 5px 20px;
  margin: 0 -20px;
  transition: 200ms linear all;

  .left {
    flex-basis: 50px;
  }
  .middle {
    flex-grow: 1;
  }

  .title {
    font-weight: 400;
  }
  .after-title {
    font-weight: 300;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
    .title {
      color: $primary;
    }
  }

}
