<div class="app-wrapper">

  <app-sidebar></app-sidebar>

  <main class="main">

<!--    <div class="background-wrapper" *ngIf="state | async as state">-->
<!--      <img class="background" [src]="getAlbumArt(state.albumart)">-->
<!--    </div>-->

    <div class="top-bar d-flex mb-3 mb-md-1" [class.scrolled]="scrolled">
      <div class="container-fluid px-2 px-md-4 px-lg-5 py-2 py-md-3 d-flex content-container">
        <input type="text" class="ml-auto position-relative">
      </div>
    </div>

    <div class="container-fluid px-2 px-md-4 px-lg-5 pt-2 pt-md-3 content-container" [class.scrolled]="scrolled">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

</div>


<app-now-playing></app-now-playing>
