<div class="app-wrapper">

  <app-sidebar></app-sidebar>

  <main class="main" (scroll)="onScroll($event)">

    <div class="top-bar" [class.scrolled]="scrolled">
      <div class="container-fluid px-2 px-md-4 px-lg-5 py-2 py-md-3 d-flex content-container">
        <a class="btn back-btn" (click)="back()">
          <i class="fa fa-arrow-left fa-fw"></i>
        </a>
        <div class="search-box ml-auto position-relative">
          <i class="fa fa-search fa-fw"></i>
          <form ngForm (ngSubmit)="getSearch()" class="d-inline-block">
            <input [(ngModel)]="searchTerm" name="searchTerm" type="text" placeholder="Search">
          </form>
        </div>
      </div>
    </div>

    <div class="container-fluid px-2 px-md-4 px-lg-5 pt-5 pt-md-3 content-container" [class.scrolled]="scrolled">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </div>

  </main>

</div>

<app-now-playing></app-now-playing>
