@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

@import '../src/scss/bootstrap_base';

@import '~bootstrap/scss/bootstrap';
//@import '~bootstrap/scss/bootstrap-reboot';
//@import '~bootstrap/scss/bootstrap-grid';
@import '~font-awesome/css/font-awesome.min.css';

@import '../src/scss/overrides';


html {
  scrollbar-color: #7f7f7f white; /* thumb and track color */
  scrollbar-width: thin;
}

html, body {
  height: 100%;
  overflow: hidden;
}


.main, nav {
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background: #7f7f7f;
  }
}

.page-title {
  .image {
    margin-right: 15px;
    max-height: 60px;
    background-color: #4a4a4a;
    @include media-breakpoint-down(md) { display: none; }
  }
  .text {
    font-weight: 300;
    font-size: 1.3rem;
    margin: 0;
    @include media-breakpoint-down(md) { margin-left: 40px; }
  }

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  top: -70px;
  padding: 2px 300px 2px 0;
  transition: top linear 200ms;

  @include media-breakpoint-down(sm) { display: none; }
  @media (max-height: 499.99px) { display: none; }
}

.scrolled .page-title {
  position: fixed;
  top: 0;
  z-index: 55;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .image {
    width: 150px;
    background-color: #4a4a4a;
    margin: 0 0 25px 0;
  }

  h1 {
    font-weight: 200;
    text-align: center;
    font-size: 2em;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: center;

    .image {
      margin: 0 25px 0 0;
      width: 200px;
    }

    h1 {
      margin: 0!important;
    }
    margin-bottom: 60px;
  }

}
