<div class="small" *ngIf="state | async as state;" [class.show]="!show">
  <ng-container *ngIf="state">

    <div class="progress-bar"></div>

    <div class="art" (click)="showNowPlaying()">
      <img [src]="getAlbumArt(state.albumart)" class="albumart">
    </div>
    <div class="details" (click)="showNowPlaying()">
      <span class="artist">{{state.artist}}</span>
      <span class="title">{{state.title}}</span>
      <span class="album">{{state.album}}</span>
    </div>
    <div class="controls">
      <button class="btn m-1 back" (click)="emit('prev')">
        <i class="fa fa-step-backward fa-fw"></i>
      </button>

      <div class="play-pause">
        <button class="btn m-1" (click)="emit('play')" *ngIf="state.status !== 'play'">
          <i class="fa fa-play fa-2x fa-fw"></i>
        </button>
        <button class="btn m-1" (click)="emit('pause')" *ngIf="state.status === 'play'">
          <i class="fa fa-pause fa-2x fa-fw"></i>
        </button>
      </div>

      <button class="btn m-1 next" (click)="emit('next')">
        <i class="fa fa-step-forward fa-fw"></i>
      </button>
    </div>

  </ng-container>
</div>

<div class="big" [class.show]="show">

  <div class="btn hide" (click)="hideNowPlaying()"><i class="fa fa-angle-down fa-3x fa-fw"></i></div>

  <ng-container *ngIf="state | async as state; else loading">

    <div class="background-wrapper">
      <!--    <div class="background" [style.background-image]="'url('+getAlbumArt(state.albumart)+')'"></div>-->
      <img class="background" [src]="getAlbumArt(state.albumart)">
    </div>

    <div class="content-wrapper">

      <div class="art">
        <img [src]="getAlbumArt(state.albumart)" class="albumart">
      </div>

      <div class="content">

        <div class="content-inner">
          <div class="volume">
            <i class="fa fa-volume-up mr-2"></i>
            <ng5-slider [(value)]="this.volume" (userChange)="setVolumeFromSlider()" [options]="volumeSliderOptions"></ng5-slider>
          </div>

          <div class="details">
            <span class="artist">{{state.artist}}</span>
            <span class="title">{{state.title}}</span>
            <span>{{state.album}}</span>
          </div>

          <div class="controls">
            <button class="btn m-1 back" (click)="emit('prev')">
              <i class="fa fa-step-backward fa-fw"></i>
            </button>

            <div class="play-pause">
              <button class="btn m-1" (click)="emit('play')" *ngIf="state.status !== 'play'">
                <i class="fa fa-play fa-2x fa-fw"></i>
              </button>
              <button class="btn m-1" (click)="emit('pause')" *ngIf="state.status === 'play'">
                <i class="fa fa-pause fa-2x fa-fw"></i>
              </button>
            </div>
            <button class="btn m-1 next" (click)="emit('next')">
              <i class="fa fa-step-forward fa-fw"></i>
            </button>
          </div>
        </div>

      </div>
    </div>

  </ng-container>

  <ng-template #loading>
    <div class="d-flex align-items-center justify-content-center py-5">
      <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    </div>
  </ng-template>
</div>
