@import '~src/scss/bootstrap_base';

:host {
  z-index: 10000000000; // should be highest.
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.progress-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100vw;
  background-color: #54c688;
}

.play-pause {
  flex-grow: 1;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #54c688;
    color: #FFF;
    width: 65px;
    height: 65px;
    .fa-play {
      margin-right: -7px;
    }
  }
}

.small {
  pointer-events: auto;
  z-index: 3;
  position: fixed;
  width: 100vw;
  height: 80px;
  bottom: 0;
  left: 0;
  background-color: #171717;
  display: flex;

  transition: transform ease 200ms;
  transform: translateY(80px);
  will-change: transform;

  &.show {
    transform: translateY(0);
  }

  .progress-bar {
    top: -3px;
  }

  .art img{
    height: 80px;
  }

  .details {
    flex-grow: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    span{
      font-weight: 200;
      font-size: 1rem;
      line-height: 0.8;
      &.artist {
        font-weight: 300;
      }
      &.title{
        font-weight: 500;
        font-size: 1.2rem;
        margin: 10px 0;
      }
    }
  }

  .controls {
    display: flex;
    align-items: center;
    padding-right: 20px;

    .play-pause {
      button {
        width: 55px;
        height: 55px;
      }
    }
  }

  @mixin small {
    height: 60px;
    .art {
      img{
        height: 60px;
      }
      //display: none;
    }
    .details{
      padding: 0 10px;
      span{
        font-size: 0.9rem!important;
      }
      .album {
        display: none;
      }
      .title {
        margin: 3px 0 0!important;
      }
    }
  }

  //@media (max-height: 499.99px) { @include small }
  @include media-breakpoint-down(sm) { @include small; }

}

.big {
  pointer-events: auto;
  z-index: 2;
  overflow: hidden;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transition: transform ease 200ms;
  transform: translateY(100vh);
  will-change: transform;
  &.show {
    transform: translateY(0);
  }

  .hide {
    position: absolute;
    z-index: 2;
  }

  .background-wrapper {
    position: absolute;
    width: calc(100vw);
    height: calc(100vh);
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(90%);

    .background {
      position: absolute;
      width: calc((100vw + 0px) / 60);
      height: calc((100vh + 0px) / 60);
      left: 0;
      top: 0;
      background-position: center;
      background-size: cover;
      filter: blur(3px);
      transform-origin: top left;
      transform: scale(60);
      will-change: transform;
    }
  }

  .content-wrapper {

    position: relative;
    z-index: 1;
    display: flex;
    height: 100vh;

    .art {
      flex: 0 0 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      .albumart {
        height: 90vh;
        max-height: 450px;
        max-width: 450px;
        box-shadow: 5px 5px 20px #000;
      }
    }

    .content {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 2.5% 25px 2.5% 0;

      .details {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        //text-shadow: 1px 1px 2px #000;
        filter: drop-shadow(1px 1px 1px #000);


        span{
          font-weight: 300;
          font-size: 1.25rem;
          line-height: 1;
          &.artist {
            //font-weight: 300;
          }
          &.title{
            font-weight: 500;
            font-size: 1.5rem;
            margin: 10px 0;
          }
        }
      }

      .controls {
        align-self: center;
        width: 100%;
        max-width: 450px;
        bottom: 5%;
        display: flex;
        filter: drop-shadow(1px 1px 1px #000);
      }

      .volume {
        align-self: center;
        width: 100%;
        max-width: 450px;
        display: flex;
        align-items: center;
        filter: drop-shadow(1px 1px 1px #000);

        ng5-slider {
          margin-top: 3px!important;
        }
      }
    }

  }

  ::ng-deep {
    .ng5-slider-bubble, .ng5-slider-pointer {
      display: none !important;
    }
    .ng5-slider {
      margin: 0!important;
    }

    .ng5-slider .ng5-slider-bar{
      height: 1px!important;
      background-color: #fff!important;
    }

    .ng5-slider-selection-bar .ng5-slider-bar {
      height: 5px!important;
      visibility: visible!important;
      margin-top: -2px;
    }
  }
}
